.main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-top: 65px;
  padding-bottom: 30px;
  &__search-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin-bottom: 50px;
  }
  &__search-icon {
    position: absolute;
    top: 10px;
    left: 20px;
  }

  &__search-input {
    width: 100%;
    padding: 13px 0;
    padding-left: 56px;
    border-radius: 9px;
    background-color: #eee;
    border: 1px solid #eee;
    transition: border 0.3s ease;

    &:is(:hover, :focus) {
      border: 1px solid #ffb700;
    }
  }
 

  @media screen and (min-width: 768px) {
    &__search-icon {
      left: auto;
      right: 210px;
    }
    &__search-input {
      width: 200px;
    }
  }
  @media screen and (min-width: 1024px) {
  }
}
