.container {
  max-width: 1280px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* ----------------HEADER----------------- */

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  /* max-width: 1200px; */
  padding-top: 33px;
}
.header__logo {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: black;
}
.header__logo-img {
  width: 58px;
  height: 58px;
  border-radius: 25%;
  margin-right: 13px;
}
.header__logo-text {
  font-size: 37.714px;
  font-style: normal;
  font-weight: 700;
}
.header__logo-span {
  color: #ef2626;
  margin-left: 5px;
}
.header__cart-btn {
  border-radius: 32px;
  width: 200px;
  background-color: #ffc633;
  display: flex;
  align-items: center;
  color: aliceblue;

  text-align: center;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ffb700;
  }
}

.header__cart-btn-svg {
}

/* ----------------/HEADER----------------- */

/* ----------------MAIN----------------- */
.main {
  max-width: 1000px;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
}
.main__search-input {
  margin-left: auto;
  width: 200px;
  padding: 13px 0;
  padding-left: 56px;
  border-radius: 9px;
  background-color: #eee;
  margin-bottom: 50px;
  border: 1px solid #eee;
  transition: border 0.3s ease;

  &:hover {
    border: 1px solid #ffb700;
  }
}
/* .main__search-input::after {
  content: "qwe";
  position: absolute;
  width: 24px;
  height: 24px;
  color: black;
  background-image: url(../../assets/icons/search.svg);
} */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.cards-list__item {
  border-radius: 33.152px;
  box-shadow: 0px 0px 1.105px 0px rgba(0, 0, 0, 0.04),
    0px 4.42px 8.841px 0px rgba(0, 0, 0, 0.04),
    0px 17.681px 26.522px 0px rgba(0, 0, 0, 0.04),
    0px 26.522px 35.362px 0px rgba(0, 0, 0, 0.04);

  padding: 29px 43px;
  padding-bottom: 12px;
}
.list-item__card-description {
  text-align: center;
}
.list-item__card-name {
  font-size: 22px;
  line-height: calc(22 / 18);
  text-transform: capitalize;
  margin-bottom: 3px;
}
.list-item__card-weight {
  color: #585858;
  font-size: 11px;
  line-height: calc(11 / 8);
  margin-bottom: 3px;
}
.list-item__card-price {
  color: #ffc633;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(26 / 22);
  margin-bottom: 5px;
}
.list-item__card-btn {
  width: 100%;
  cursor: pointer;
  background-color: #ffc633;
  border-radius: 25px;
  padding: 5px 0;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #c48c00;
    color: aliceblue;
  }
}
/* ----------------/MAIN----------------- */
