.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #eee;

  &__list {
    display: flex;
    justify-content: space-around;

    &-item {
      transition: transform 0.3s ease;
      & a {
        font-size: 18px;
        font-weight: 700;
        color: #c48c00;
      }
      &:is(:hover, :focus) {
        transform: scale(1.1);
      }
    }
  }

  &__line {
    background-color: #c48c00;
  }

  &__text {
    font-size: 14px;
    line-height: calc(18 / 14);
    text-align: center;
    margin-bottom: 20px;
  }

  &__copyright {
    display: flex;
    justify-content: center;

    &-text {
      font-size: 12px;
      color: #c48c00;
    }
  }
  @media screen and (min-width: 425px) {
    &__list {
      &-item {
        & a {
          font-size: 20px;
        }
      }
    }

    &__copyright {
      &-text {
        font-size: 14px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    &__list {
      &-item {
        & a {
          font-size: 24px;
        }
      }
    }

    &__text {
      font-size: 16px;
      line-height: calc(18 / 16);
    }
    &__copyright {
      &-text {
        font-size: 16px;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    &__text {
      font-size: 18px;
      line-height: calc(20 / 18);
    }
  }
}
